@model CategoryModel

@{
    var products = Model.Products;
}

<section>
    <div class="container my-5">
        <div class="row gy-3">
            @await Html.PartialAsync("_sidebar")
            <div class="col-lg-9">

                <div class="acc-title">Kategori Düzenle</div>

                <div class="acc-form">
                    <form name="adress-form" class="row g-1 mb-4" asp-controller="Admin" asp-action="CategoryEdit" method="POST">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <input type="hidden" name="Id" value="@Model.Id" />
                        <div class="col-12 col-lg-6">
                            <label asp-for="Name" class="form-text"></label>
                            <input class="form-control" asp-for="Name">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="col-12 col-lg-6">
                            <label asp-for="Url" class="form-text"></label>
                            <input class="form-control" asp-for="Url">
                            <span asp-validation-for="Url" class="text-danger"></span>
                        </div>
                        <div class="col-12">
                            <label class="form-text" asp-for="ParentCategory"></label>
                            <select asp-for="ParentCategory.Id" asp-items="@(new SelectList(Model.ParentCategories, "Id", "Name"))" class="form-control">
                            </select>
                            <span asp-validation-for="ParentCategory.Id" class="text-danger"></span>
                        </div>
                        <div class="col-12 text-center my-4">
                            <button type="submit" class="btn btn-secondary">Kaydet</button>
                        </div>
                    </form>
                </div>
                <div class="row g-1 mb-4">

                    <div class="acc-title">Ürünler</div>
                    <div class="row">
                        @if (products.Count > 0)
                        {
                            @foreach (var product in products)
                            {
                                <div class="col-xl-4 col-lg-6 col-md-12">
                                    <figure class="card shadow">
                                        <a href="/admin/products/@product.Id" class="img-wrap">
                                            @if (product.Discount)
                                            {
                                                <b class="badge bg-success"> İndirim </b>
                                            }
                                            <img src="~/img/@product.ImageUrl" alt="">
                                        </a>
                                        <figcaption class="info-wrap border-top">
                                            @if (product.IsApproved)
                                            {
                                                <i class="fa-solid fa-check-circle text-success"></i>
                                            }
                                            else
                                            {
                                                <i class="fa-solid fa-times-circle text-danger"></i>
                                            }
                                            @if (product.IsHome)
                                            {
                                                <i class="fa-solid fa-house text-success"></i>
                                            }
                                            else
                                            {
                                                <i class="fa-solid fa-house text-danger"></i>
                                            }
                                        <form action="/admin/deletefromcategory" method="POST">
                                            <input type="hidden" name="productId" value="@product.Id">
                                            <input type="hidden" name="categoryId" value="@Model.Id">
                                            <button type="submit" class="float-end btn btn-outline-danger btn-icon" onclick="return confirm('Silmek istediğinizden emin misiniz ?')">
                                                <i class="fa-solid fa-trash btn-icon"></i>
                                            </button>
                                        </form>
                                            <a href="/admin/products/@product.Id" class="title text-truncate">
                                                @product.Name
                                            </a>
                                            <div class="price-wrap">
                                                @if (product.Discount)
                                                {
                                                    <span class="price">@product.DiscPrice ₺</span>
                                                    <del class="price-old px-1">@product.Price ₺</del>
                                                }
                                                else
                                                {
                                                    <span class="price">@product.Price ₺</span>
                                                }
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            }
                        }
                        else
                        {
                            <header>
                                <h3 class="mb-md-3 mb-0">No Products</h3>
                            </header>
                            @await Html.PartialAsync("_noproduct")
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>